<html lang="en">
<head>
  <title>AIRBNB</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/home.css">

</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">
      <img src="/img/Airbnb.svg" alt="">
    </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="room">Room Listing</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li><a href="signup"data-toggle="" data-target=""><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>

      <li><a href="login" data-toggle="" data-target=""><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
     <form class="navbar-form navbar-left" action="/">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>
<div class="hero-image">
  <div class="hero-text">
    <h1>100% off your next stay!</h1>
    <p>If you book within the next 10 minutes</p>
    
  </div>
</div>

<article>

 
    <h3>Hello {{user.firstname}} {{user.lastname}} You an an Administrator!</h3>

    <h1>Welcome to Airbnb</h1>
  
  <p>This is your dashboard</p>
  <h4>username: {{user.username}}</h4>
  <h4>email: {{user.email}}</h4>
    <p>Start by exploring Stays or Experiences. Apply filters like entire homes, self check-in, or pets allowed to narrow your options. You can also save favourites to a wishlist.</p>
    <p>Once you’ve found what you’re looking for, learn about your host, read past guest reviews, and get the details on cancellation options—then book in just a few clicks.
</p>
  </article>
</section>

<a href="logout">Logout</a>

<div id="palm">
  <img src="https://images.unsplash.com/photo-1519046904884-53103b34b206?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" style="height: 200px;">
</div>

<form action="" method="post">
  <div class="elem-group">
    <label for="name">WHERE</label>
    <input type="address" id="address"  placeholder="Toronto">
  </div>
  <div class="elem-group inlined">
    <label id="chkin" for="checkin-date">CHECK-IN</label>
    <input type="date" id="checkin-date" name="checkin" required>
  </div>
  <div class="elem-group inlined">
    <label for="checkout-date">CHECKOUT</label>
    <input type="date" id="checkout-date" name="checkout" required>
  </div>
  <div class="elem-group">
    <label for="room-selection">GUESTS</label>
    <select id="room-selection" name="room_preference" required>
        <option value="">1 guest</option>
        <option value="1">2 guest</option>
        <option value="2">3 guests</option>
        <option value="3">4 guests</option>
    </select>
  </div>
 <div id="searchButton">
  <button type="submit">Search</button>
  </div>
</form>


<p id="spacer"></p>

  <footer>
  <p>Author: Jason Goldenberg</p>
  <p><a href="home">Click to go home</a></p>
</footer>


</body>
</html>
